/* width **/
/* espacement **/
body {
  max-width: 100%;
  margin: 0; }
  body .container {
    max-width: 960px;
    margin: auto; }
  body .hidden-text {
    font-size: 0px; }

header {
  background: url("../../images/bg_header.jpg") no-repeat bottom center;
  display: flex;
  flex-direction: column; }

#header-left {
  margin-top: 6em; }

#header-right #mobile-header {
  display: block;
  position: absolute;
  top: 1em;
  right: 1em; }
  #header-right #mobile-header .fa-3x {
    font-size: 3rem; }
  #header-right #mobile-header a {
    font-size: 0; }
    #header-right #mobile-header a i {
      font-size: 2rem;
      color: white; }
#header-right #navigation {
  display: none;
  margin-bottom: 4em; }
  #header-right #navigation #main-nav ul {
    max-width: 600px;
    height: 45px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.3); }
    #header-right #navigation #main-nav ul li {
      padding-left: 1em; }
      #header-right #navigation #main-nav ul li a {
        text-decoration: none;
        color: white; }
    #header-right #navigation #main-nav ul li:nth-of-type(5) {
      padding-right: 1em; }
#header-right .search-form {
  display: flex;
  margin-bottom: 6em; }
  #header-right .search-form input {
    width: 200px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 0;
    padding-left: 1em; }
  #header-right .search-form button {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    font-size: 0; }
    #header-right .search-form button i {
      font-size: 1rem;
      color: #f84242; }

main .service {
  padding-left: 4em;
  margin: 4em 1em 4em 1em; }
  main .service h2 {
    color: #808080; }
  main .service .more {
    color: #f84242;
    text-decoration: none; }
main .service:nth-of-type(1) {
  background: url("../../images/bg_web.gif") no-repeat; }
main .service:nth-of-type(2) {
  background: url("../../images/bg_mobile.gif") no-repeat; }
main .service:nth-of-type(3) {
  background: url("../../images/bg_photo.gif") no-repeat; }
main #slider {
  z-index: -1;
  background-color: #e7e7e7;
  position: relative; }
  main #slider .owl-nav {
    display: flex;
    position: absolute;
    top: 0; }
    main #slider .owl-nav .fa-slider {
      font-size: 3em;
      color: white; }
  main #slider .item {
    margin-top: 4em;
    display: flex;
    flex-direction: column; }
    main #slider .item .item-infos {
      order: 2;
      margin-left: 4em;
      margin-top: 1em; }
      main #slider .item .item-infos a {
        text-decoration: none; }
        main #slider .item .item-infos a h2 {
          color: #f84242; }
      main #slider .item .item-infos h3 {
        display: list-item;
        list-style: disc;
        color: #808080;
        margin-left: 1em; }
      main #slider .item .item-infos .btn {
        width: 140px;
        height: 40px;
        display: block;
        margin: auto;
        margin-right: 4em;
        background-color: #f84242;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4em; }
    main #slider .item .item-img {
      order: 1;
      margin-left: 1em;
      margin-right: 1em; }

footer {
  background-color: #f84242;
  color: white; }
  footer .footer-inner {
    padding-top: 4em;
    padding-bottom: 1em; }
  footer .footer-col {
    border-top: 1px solid #e7e7e7;
    margin: 0 4em 4em 4em;
    padding-top: 4em; }
    footer .footer-col h3 {
      margin: 0; }
      footer .footer-col h3::before {
        content: '.';
        font-size: 4em;
        margin-right: 10px;
        color: #e7e7e7; }
  footer .footer-col:nth-of-type(1) {
    border: none;
    padding-top: 0; }
  footer #social-nav ul {
    display: flex;
    flex-wrap: wrap; }
    footer #social-nav ul li {
      list-style: none; }
      footer #social-nav ul li a {
        color: white;
        font-size: 0; }
        footer #social-nav ul li a i {
          font-size: 2rem;
          padding-left: 1em; }

/* MEDIA QUERIES **/
@media only screen and (min-width: 767px) {
  #header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -1em; }

  #header-left .logo {
    margin-top: -2.5em; }

  #header-right {
    margin-top: 4em; }
    #header-right #mobile-header {
      display: none; }
    #header-right #navigation {
      display: block; }
    #header-right .search-form {
      margin-left: 6em;
      margin-top: -2em; }

  #services #services-inner {
    display: flex;
    flex-direction: row; }

  main #slider .item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4em; }
    main #slider .item .item-infos {
      order: 1;
      margin-left: 1em;
      margin-top: -1em; }
      main #slider .item .item-infos .btn {
        margin-right: 1em; }
    main #slider .item .item-img {
      order: 2; }

  footer .footer-inner {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 0; }
    footer .footer-inner .footer-col {
      height: 316px;
      border: none;
      margin: 1em;
      padding: 0; }
      footer .footer-inner .footer-col .footer-col-inner {
        max-width: 320px; }
        footer .footer-inner .footer-col .footer-col-inner #social-nav {
          display: flex; }
          footer .footer-inner .footer-col .footer-col-inner #social-nav ul {
            padding-left: 0; }
    footer .footer-inner .footer-col:nth-of-type(2) {
      border-left: 1px solid white;
      border-right: 1px solid white;
      padding-left: 1em;
      padding-right: 1em; } }

/*# sourceMappingURL=style.css.map */
