$font-d : "Trebuchet MS", sans-serif;
$font-t : "Raleway", sans-serif;

$rouge : #f84242;
$rougef : #d43839;

$grisc : #e5e5e5;
$gris : #e7e7e7;
$grisf : #808080;

/* width **/
$w : 320px;
/* espacement **/
$e : 1em;
$ge : 4em;
