$blue-c : #2293e2;
$blue-f : #1d70a2;
$orange : #ff9f1c;
$gris : #dbdbdb;

$e : 1em;
$ge : 4em;

$border : 1px solid $blue-f;

$l : left;
$r : right;
$b : bottom;
$t : top;

$c : center;
$a : auto;

$csept : 170px;
$deux : 200px;
$trois: 300px;
