@import "partials/_variables.scss";

body{
    max-width: 100%;
    margin : 0;

    .container{
        max-width: 960px;
        margin : auto;
    }
    .hidden-text{
        font-size : 0px;
    }
}
header{
    background : url("../../images/bg_header.jpg") no-repeat bottom center;
    //background-size : cover;
    display : flex;
    flex-direction : column;
}
#header-left{
    margin-top: 6em;
}
#header-right{

    #mobile-header {
        display: block;
        position : absolute;
        top : $e;
        right: $e;

        .fa-3x{
            font-size: 3rem;
        }
        a{
            font-size : 0;
            i{
                font-size : 2rem;
                color : white;
            }
        }
    }
    #navigation{
        display : none;
        margin-bottom : $ge;

        #main-nav {
            ul{
            max-width: 600px;
            height: 45px;
            padding : 0;
            display : flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            background-color : rgba(0,0,0,0.3);

                li{
                    padding-left : $e;
                    a{
                        text-decoration: none;
                        color : white;
                    }
                }
                li:nth-of-type(5){
                    padding-right: $e;
                }
            }
        }
    }
    .search-form{
        display : flex;
        margin-bottom : 6em;

        input{
            width:200px;
            height: 40px;
            background-color : rgba(255,255,255,0.3);
            border : none;
            padding: 0;
            padding-left: $e;
        }
        button{
            width: 40px;
            height: 40px;
            background-color : rgba(255,255,255, 0.3);
            border : none;
            font-size: 0;
            i{
                font-size : 1rem;
                color : $rouge;
            }
        }
    }
}

main{

    .service{
        padding-left : $ge;
        margin : $ge $e $ge $e;

        h2{
            color : $grisf;
        }
        .more{
            color : $rouge;
            text-decoration : none;
        }
    }
    .service:nth-of-type(1){
        background : url("../../images/bg_web.gif") no-repeat;
    }
    .service:nth-of-type(2){
        background : url("../../images/bg_mobile.gif") no-repeat;
    }
    .service:nth-of-type(3){
        background : url("../../images/bg_photo.gif") no-repeat;
    }

    #slider{
        z-index:-1;
        background-color : $gris;
        position : relative;
        .owl-nav{
            display : flex;
            position : absolute;
            top: 0;

            .fa-slider{
                font-size: 3em;
                color : white;
            }
            #fa-left{

            }
            #fa-right{

            }
        }
        .item{
            margin-top : $ge;
            display : flex;
            flex-direction : column;

            .item-infos{
                order : 2;
                margin-left : $ge;
                margin-top : $e;
                a{
                    text-decoration: none;
                    h2{
                        color : $rouge;
                    }
                }
                h3{
                    display : list-item;
                    list-style: disc;
                    color : $grisf;
                    margin-left : $e;
                }
                .btn{
                    width: 140px;
                    height: 40px;
                    display : block;
                    margin : auto;
                    margin-right : $ge;
                    background-color : $rouge;
                    border-radius : 5px;
                    color : white;
                    display : flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom : $ge;
                }
            }
            .item-img{
                order : 1;
                margin-left : $e;
                margin-right: $e;
            }
        }
    }

}
footer{
    background-color: $rouge;
    color : white;
    .footer-inner{
        padding-top : $ge;
        padding-bottom : $e;
    }
    .footer-col{
        border-top : 1px solid $gris;
        margin : 0 $ge $ge $ge;
        padding-top : $ge;

        h3{
            margin : 0;
            &::before{
                content : '.';
                font-size: 4em;
                margin-right: 10px;
                color : $gris;
            }
        }
    }
    .footer-col:nth-of-type(1){
        border : none;
        padding-top : 0;
    }
    #social-nav{
        ul{
            display : flex;
            flex-wrap: wrap;
            li{
                list-style: none;
                a{
                    color : white;
                    font-size: 0;
                    i{
                        font-size: 2rem;
                        padding-left : $e;
                    }
                }
            }
        }
    }
}







/* MEDIA QUERIES **/
@media only screen and (min-width: 767px){
    #header{
        height: 100%;
        display : flex;
        justify-content: space-between;
        margin-top : -1em;
    }
    #header-left{

        .logo{
            margin-top : -2.5em;
        }
    }
    #header-right{
        margin-top: $ge;

        #mobile-header {
            display: none;
        }
        #navigation{
            display: block;
        }
        .search-form{
            margin-left: $ge+2;
            margin-top: -2em;
        }
    }
    #services{
        #services-inner{
            display : flex;
            flex-direction : row;
        }
    }
    main{
        #slider{
            .item{
                display : flex;
                flex-direction : row;
                align-items: flex-start;
                margin-top: $ge;
                .item-infos{
                    order:1;
                    margin-left: $e;
                    margin-top : -$e;
                    .btn{
                        margin-right: $e;
                    }
                }
                .item-img{
                    order:2;
                }

            }

        }
    }
    footer{
        .footer-inner{
            display : flex;
            flex-direction: row;
            align-items: baseline;
            padding-top: 0;

            .footer-col{
                height: 316px;
                border: none;
                margin : $e;
                padding: 0;
                .footer-col-inner{
                    max-width: 320px;
                    #social-nav{
                        display : flex;
                        ul{
                            padding-left : 0;
                        }
                    }
                }
            }
            .footer-col:nth-of-type(2){
                border-left: 1px solid white;
                border-right: 1px solid white;
                padding-left: $e;
                padding-right: $e;
            }
        }
    }

}
